@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	box-sizing: border-box;
	overflow-x: hidden;
}

#contenedor-grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 20vh);
	grid-template-areas: 
	"one"
	"two" 
	"three" 
	"four" 
	"five"
    "six";
}

.one{
	background-color: rgb(133, 164, 255);
	grid-area: one;
}

.two{
	background-color: grey;
	grid-area: two;
}

.three{
	background-color: rgb(84, 68, 166);
	grid-area: three;
}

.four{
	background-color: rgb(112, 114, 216);
	grid-area: four;
}

.five{
	background-color: rgb(20, 141, 255);
	grid-area: five;
}

.six{
	background-color: rgb(43, 20, 255);
	grid-area: six;
}

.seven{
	background-color: rgb(140, 130, 233);
	grid-area: seven;
}

@media (min-width:1024px){
	#contenedor-grid{
		grid-template-columns: 50vw 25vw 25vw;
		grid-template-rows: 25vh 50vh 30vh;
		grid-template-areas: 
		"one one one" 
		"two three four" 
		"two five six"
        "seven seven seven";
	}

	header ul{
		display: none;
	}
}
