@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	box-sizing: border-box;
	overflow-x: hidden;
}

#contenedor-grid{
	overflow: hidden;
	margin: auto;
	padding: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 1fr);
	grid-template-rows: repeat(7, auto);
	grid-template-areas: 
	"one"
	"two" 
	"three" 
	"four" 
	"five"
    "six"
	"seven"
	;
}

.one{
	
	grid-area: one;
	padding-bottom: 20px;
}

.two{
	margin: 10px;
	grid-area: two;
	text-align: center;
	border-style:groove;
}

.two img {
	margin-top: 0.2em;
	width: 90%;
	height: 60%;
}

.three{
	margin: 10px;
	grid-area: three;
	text-align: center;
	border-style:groove;
}

.four{
	margin: 10px;
	grid-area: four;
	text-align: center;
	border-style:groove;
}

.five{
	margin: 10px;
	grid-area: five;
	text-align: center;
	border-style:groove;
}

.six{
	margin: 10px;
	grid-area: six;
	text-align: center;
	border-style:groove;
}

.seven{
	
	grid-area: seven;
}

.secondaryImg {
	width: 280px;
}

@media (min-width:1024px){
	#contenedor-grid{
		grid-template-columns: 50vw 25vw 25vw;
		grid-template-rows: 23vh 75vh 75vh 10vh;
		grid-template-areas: 
		"one one one" 
		"two three four" 
		"two five six"
        "seven seven seven";
	}

	header ul{
		display: none;
	}

	.secondaryImg {
		
		border-radius: 0px;
		-webkit-transition: 0.5s linear;
		transition: 0.7s linear
		
		
	}

	.secondaryImg:hover{
		 border-radius: 20px;
		 -webkit-filter: grayscale(100%);
					 
	}
}

