@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	box-sizing: border-box;
	overflow-x: hidden;
}

#contenedor-grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 20vh);
	grid-template-areas: 
	"one"
	"two" 
	"three" 
	"four" 
	"five"
    "six";
}

.one{
	
	grid-area: one;
}

.two{
	
	grid-area: two;
}

.three{
	
	grid-area: three;
}

.four{
	
	grid-area: four;
}

.five{
	
	grid-area: five;
}

.six{
	
	grid-area: six;
}

.seven{
	
	grid-area: seven;
}

header{
	display: flex;
	flex-direction: column;
	align-items: center;
}

	header ul{
		display: flex;
	}
		header ul li{
			margin-right: 10px;
		}		

		header ul li a{
			color: deeppink;
			text-decoration: none;
			font-size: 1.1em;
		}

header img{
	width: 230px;
	margin-top: 20px;
}




@media (min-width:1024px){
	#contenedor-grid{
		grid-template-columns: 50vw 25vw 25vw;
		grid-template-rows: 40vh 60vh 60vh;
		grid-template-areas: 
		"one one one" 
		"two three four" 
		"two five six"
        "seven seven seven";
	}

	header ul{
		display: none;
	}
}


.fotoNoticia{
    width: 300px;
    height: auto;
}

.display{
    display: block;
    text-align: center;
    margin: 5px 20px 5px 20px;
    
}

#principal{
    margin-top: 50px;
}

